* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
 body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffe5d4;
    height: 100%;
    font-size: 18px;
    color: darkblue;
  }

#sidebar {
    width: 160px;
    position: fixed;
    background-color: brown;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #FF729F;
    top: 0;
    right: 0;
    margin: 0.6em;
    padding: 0.75em;
    z-index: 1; /* Sit on top */
    width: fit-content;
    border: 3px solid #14213d;
    border-radius: 10px;
    box-shadow: 1px 2px #829f8b;
  }

#todo-items {
    margin-top: 90px;
    margin-left: 320px;
    margin-right: 160px;
}

.todo-card {
    border: thin solid black;
    border-radius: 5px;
    padding: 10px;
}

.todo-checkbox-title-priority {
    display: flex;
    justify-content: space-between;
}

.todo-checkbox-title {
    display: flex;
}

.todo-checkbox {
    border: none;
    background-color: transparent;
    margin: 0px 5px;
}

.todo-checkbox:hover {
    background-color: brown;
}
