* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
 body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffe5d4;
    height: 100%;
    font-size: 18px;
    color: darkblue;
  }

#sidebar {
    width: 180px;
    position: fixed;
    background-color: brown;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 10px;
}

#project-list {
    display: block;
}

.project-card {
    display: flex;
}

.project-tab {
    display: block;
    font-size: 18px;
    color: white;
    margin: 10px 5px;
    padding: 5px;
    border: none;
    background: none;
}

.project-delete-btn {
    border: none;
    background: none;
    color: white;
    font-size: 26px;
}

.new-btn {
    font-size: 14px;
    margin: 5px;
    padding: 5px;
}

form {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #FF729F;
    top: 0;
    right: 0;
    margin: 0.6em;
    padding: 0.75em;
    z-index: 1; /* Sit on top */
    width: fit-content;
    border: 3px solid #14213d;
    border-radius: 10px;
    box-shadow: 1px 2px #829f8b;
  }

#todo-items {
    margin-top: 40px;
    min-width: 300px;
    max-width: 50%;
}

.todo-card {
    display: block;
    border: thin solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
}

.todo-card-row-1 {
    display: flex;
    justify-content: end;
}

.todo-desc {
    margin-left: 20px;
}

.todo-date {
    margin: 0 10px 0 auto;
}

.task-delete-btn {
    font-size: 24px;
    border: none;
    background: none;
    width: 20px;
}

#content {
    margin: 20px 0px 0px 200px;
}